---
import { SITE, SOCIALS } from "@/consts";
---

<section id="Contact" class="container mx-auto my-28 p-10 space-y-12">
    <h2 class="heading text-5xl lg:text-9xl uppercase">Связаться</h2>

    <div class="max-w-2xl">
        <p class="text-xl lg:text-3xl mb-8">
            Есть идея? Проблема? Комплимент? Напиши мне —
            создадим что-то стоящее вместе.
        </p>

        <div class="space-y-4">
            <a
                href={`mailto:${SITE.EMAIL}`}
                class="flex items-center justify-center w-full bg-primary rounded-2xl py-4 px-6 text-xl md:text-2xl hover:bg-background hover:outline hover:outline-1 hover:outline-dashed hover:outline-secondary hover:text-foreground transition"
            >
                Email
            </a>
            {
                SOCIALS.map((link) => (
                    <a
                        href={link.HREF}
                        target="_blank"
                        class="flex items-center justify-center w-full bg-foreground text-background rounded-2xl py-4 px-6 text-xl md:text-2xl hover:bg-background hover:outline hover:outline-1 hover:outline-dashed hover:outline-secondary hover:text-foreground transition"
                    >
                        {link.NAME}
                    </a>
                ))
            }
        </div>
    </div>
</section>
